@keyframes blink {
  0%,
  49% {
    border-bottom-color: gray;
  }

  50%,
  100% {
    border-bottom-color: transparent;
  }
}

.blinking-caret { 
  border-bottom: 3px solid gray;
  animation: blink .8s step-end infinite;
}